html{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
}

#main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
    background-color: rgb(240, 236, 236);
    padding: 25px 0px;
}

header{
    display: flex;
    justify-content: center;
    width:90%;
    background-color: rgb(29, 50, 119);
    color: white;
    font-size: 1em;
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
}

#middle-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(160, 160, 177);
    padding: 0px 20px;
    padding-top: 30px;
}

#top-section{
    width: 95%;
    display: flex;
    justify-content: space-around;
    color: black;
    border-color: black;
    background-color: rgb(209, 202, 202);
    padding: 10px;
    margin: 5px;
}

form{
    width:90%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.labelsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 70px;
    height: 40px;
}

#main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(147, 179, 248);
    width: 98%;
    padding: 15px 20px;
    margin: 10px 0px;
}

#table-render-space{
    display: flex;
    justify-content: center;
    width: 99%;
    padding: 20px 10px 50px;
    background-color: rgb(255, 227, 215);
}

#table-html-space{
    display: flex;
    justify-content: center;
    width: 99%;
    padding: 25px 10px 10px;
    background-color: rgb(223, 59, 0);
}

textarea{
    width:99%;
}

footer{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: rgb(29, 50, 119);
    color: white;
    padding: 20px 20px;
    margin: 5px 0px;
}